@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './components/general.scss';
@import './components/minting-dapp.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Pixel Script Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/alagard.woff");
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.alert{
  position: fixed!important;
  bottom: 0;
  margin-bottom: 0!important;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: white!important;
  color: black!important;
  border-color: white!important;
  font-family: "Press Start 2P";
  font-size: 1.2em;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Pixel Script Regular', serif;
  width: 100%;
  background: white!important;
}
#minting-dapp.dark{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  filter: invert(100%);
  min-height: 100vh;
}
.darkTheme{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 0;
  margin-top: 0;
  display: block;
  z-index: 10;
}
.darkTheme button{
  position: relative;
  border-radius: 0;
  display: block;
  position: relative;
  width: 33px;
  height: 33px;
  background-color: black;
  padding: 0;
}
.darkTheme button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../assets/dark.png);
  background-size: contain;
  padding: 0;
  width: 32px;
  height: 32px;
}
.darkTheme button:hover{
  background-color: black;
}
.dark .darkTheme button::after{
  background-image: url(../assets/bright.png);
}

.mainCont{
  width: 100%;
  display: block;
  font-family: 'Pixel Script Regular', serif;
}
.mainCont:after{
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  background-image: url(../assets/nftboxbies.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 0;
  padding-top: 0;
  margin-right: 0;
}
img.logo{
  width: 150px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.mainCont .container{
  position: relative;
  width: 90%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 30vh;
  padding: 3em;
  z-index: 1;
}
.cdTitle{
  margin-bottom: 1em;
}
/* main .container:before{
  content: "";
  position: absolute;
  margin-top: -24%;
  overflow: hidden;
  border-radius: 2em;
  border: 2em;
  top: 0;
  left: 0;
  width: 100px;
  padding-top: 22.2%;
  background-image: url(../assets/boxbiesLogo.avif);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
} */
.links{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  z-index: 1;
  background-color: white;
}
.links ul li a{
  font-family: "Press Start 2P";
  font-size: .85em;
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding-top: 1em;
}
.links ul li a:hover{
  color: black;
}
.primary{
  font-family: "Press Start 2P";
  background-color: white;
  border: 0px solid black;
  border-radius: 0;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 0 rgba(255,255,255, .7);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  transition: all .1s ease-in-out;
}
.primary:hover{
  transform: translateX(0) translateY(0);
  box-shadow: 0 0 0 0 black;
}
#minting-dapp .collection-status{
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.mainCont .container{
  color: white;
}
#minting-dapp .collection-status > * .label, #minting-dapp .collection-status .user-address .address{
  color: white;
}
#minting-dapp .collection-status .user-address .address{
  text-transform: lowercase;
}
.user-address .label{
  font-family: "Press Start 2P";
}
.user-address{
  display: flex;
  flex-direction: column;
}
.user-address .address{ 
  font-size: .85em;
}
.supply{
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}
.supply .label{
  font-size: .5em;
}
.current-sale{
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  margin-top: .5em;
}
.current-sale .label{
  font-family: "Press Start 2P";
  font-size: .5em;
}
.controls .primary{
  background-color: transparent;
  filter: drop-shadow(0 5px 0 rgba(255,255,255,.4));
  transform: translateY(-10px);
  box-shadow: none;
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: auto;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.controls .primary:hover{
  transform: translateY(0);
  filter: drop-shadow(0 2px 0 black);
}

.price{
  color: white;
}
.mint-amount{
  color: white;
  padding: .5em;
  font-size: 2em;
  line-height: 1em;
  vertical-align: middle;
}
.cannot-mint{
  text-align: center;
  color:white;
  font-size: 1.2em;
}
.poweredBy{
  display: block;
  margin: auto;
  text-align: center;
  max-width: 200px;
  margin-top: 1em;
  font-size: 1.2em;
}
.poweredBy img{
  max-width: 125px;
  display: block;
  margin: .5em auto;
}
.partners{
  position: relative;
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.partners::after{
  content: "";
  position: absolute;
  height: 100px;
  background-image: url('../assets/boxbiesLogo_negative.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.partners:hover::after{
  filter: invert(1);
}
@media (min-width:768px){
  .links ul li a{
    font-size: 1.5em;
  }
  .mainCont{
    padding-top: 0;
  }
  .mainCont:after{
    width: 300px;
    padding-top: 300px;
  }
  .links ul li a{
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .user-address .address{
    font-size: 1em;
  }
  .darkTheme{
    margin-right: 1em;
    margin-top: 1em;
  }
}
@media (min-width:1024px){
  .mainCont:after{
    width: 350px;
    padding-top: 350px;
  }
}
@media(min-width: 1400px){
  .mainCont:after{
    width: 450px;
    padding-top: 450px;
  }
}