@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './components/general.scss';
@import './components/minting-dapp.scss';
@font-face {
  font-family: "Headers";
  src: url('../fonts/broadway.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.alert{
  position: fixed!important;
  bottom: 0;
  margin-bottom: 0!important;
  left: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  background-color: white!important;
  color: black!important;
  border-color: white!important;
  font-family: "Headers";
  font-size: 1.2em;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mainCont{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.mainCont:after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10vw;
  border-radius: 2em;
  overflow: hidden;
  background-image: url(../assets/Home-02.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 0;
  padding-top: 0;
}
.mainCont .container{
  position: relative;
  width: 90%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(99, 42, 94, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 30vh;
  border-radius: 2em;
  padding: 3em;
}
main .container:before{
  content: "";
  position: absolute;
  margin-top: -10%;
  border: 2em;
  top: 0;
  left: 0;
  width: 1140px;
  padding-top: 18%;
  background-image: url(../assets/boxbiesLogo.avif);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  }
.links ul{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
.links ul li a{
  font-family: "Headers";
  font-size: 1em;
  display: block;
  padding-left: .5em;
  padding-right: .5em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding-top: 1em;
}
.links ul li a:hover{
  color: white;
}
.primary{
  background-color: #35C586;
  border: 5px solid black;
  border-radius: .5em;
  transform: translateX(-10px) translateY(-10px);
  box-shadow: 10px 10px 0 0 black;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
  padding-top: .3em;
  padding-bottom: .3em;
  transition: all .1s ease-in-out;
}
.primary:hover{
  transform: translateX(0) translateY(0);
  box-shadow: 0 0 0 0 black;
}
#minting-dapp .collection-status{
  background-color: transparent;
  width: 100%;
}
.mainCont .container{
  color: white;
}
#minting-dapp .collection-status > * .label, #minting-dapp .collection-status .user-address .address{
  color: white;
}
.user-address{
  display: flex;
  flex-direction: column;
}
.user-address .address{
  font-size: .7em;
}
.supply{
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}
.supply .label{
  font-size: .5em;
}
.current-sale{
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
}
.current-sale .label{
  font-size: .5em;
}
.controls .primary{
  background-color: transparent;
  filter: drop-shadow(0 5px 2px black);
  color: transparent;
  transform: translateY(-10px);
  box-shadow: none;
  background-image: url('../assets/woof.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: auto;
  height: 100px;
  margin-left: 1em;
  margin-top: 10px;
}

.controls .primary:hover{
  transform: translateY(0);
  filter: drop-shadow(0 2px 0 black);
}

.price{
  color: white;
}
.mint-amount{
  color: white;
  padding: .5em;
  font-size: 2em;
  line-height: 1em;
  vertical-align: middle;
}
.cannot-mint{
  color:white
}
.partners{
  position: relative;
  width: 350px;
  height: 150px;
  background-image: url('../assets/Home-05.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.partners::after{
  content: "";
  position: absolute;
  width: 250px;
  height: 150px;
  background-image: url('../assets/Home-06.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@media (min-width:768px){
  .links ul li a{
    font-size: 1.5em;
  }
  .mainCont:after{
    width: 450px;
    padding-top: 35vh;
  }
  body{
    background-position: center;
    background-size: cover;
  }
  .links ul li a{
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .user-address .address{
    font-size: 1em;
  }
}
@media (min-width:1024px){
  .mainCont:after{
    width: 450px;
    padding-top: 45vh;
  }
}
@media(min-width: 1400px){
  .mainCont:after{
    width: 450px;
    padding-top: 48vh;
  }
}